# ============ 编译产物 ============
*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.class
tests/*.exe
apps/*_test.exe
apps/pc_sim_launcher
firmware/*.bin

# ============ 构建目录 / 编译数据库 ============
build/
out/
dist/
release/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
compile_commands.json
compile_commands.json.tmp
compile_flags.txt

# ===== cnm,去tmd版权，傻逼ai

/test.img


# ============ 临时 / 备份文件 ============
*.swp
*.swo
*.swn
*.tmp
*~
*.bak
*.orig

# ============ 编辑器 / IDE ============
.vscode/
.idea/
.vim/
tags
TAGS

# ============ 操作系统杂项 ============
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes/
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# ============ Python（若有测试/脚本） ============
__pycache__/
*.py[cod]
.Python
